/* PC */
@media screen and (min-width: 992px) {
    .mobile-header {
        display: none;
    }

    .show-on-mobile {
        display: none;
    }
}

/* Tablet & mobile */
@media screen and (max-width: 991.98px) {
    .navbar {
        display: none;
    }

    .header .container {
        position: relative;
    }

    .logo_link {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .toggle-menu svg {
        width: 24px;
        color: #666;
    }

    .menu-overlay {
        position: fixed;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 100;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s ease;
    }

    .menu-drawer {
        position: fixed;
        inset: 0 40% 0 0;
        padding: 60px;
        background: #fff;
        z-index: 101;
        transform: translateX(-100%);
        transition: 0.5s ease;
    }

    .menu-checkbox:checked ~ .menu-overlay {
        opacity: 1;
        visibility: visible;
    }

    .menu-checkbox:checked ~ .menu-drawer {
        transform: translateX(0);
    }

    .menu-drawer ul {
        flex-direction: column;
        align-items: flex-start;
        gap: 0;

        margin-top: 32px;
    }

    .menu-drawer .nav__item {
        width: 100%;
    }

    .menu-drawer ul a {
        display: block;
        color: #333;
        padding: 14px 0;
    }

    .separate {
        border-top: 1.5px solid #ebebeb;
    }

    .hero .container {
        flex-direction: column-reverse;
        row-gap: 60px;
    }

    .hero__right {
        left: -15%;
    }

    .hero__course__label,
    .hero__course-number,
    .hero .schedules .title,
    .active-students .label {
        font-size: 1.3rem;
    }

    .features {
        padding: 70px;
    }

    .feature-list {
        grid-template-columns: auto auto;
        row-gap: 50px;
    }

    .course-list {
        grid-template-columns: auto auto;
        row-gap: 170px;
    }

    .course-foot {
        padding: 0 50px;
    }

    .feedback .container {
        flex-direction: column-reverse;
        row-gap: 400px;
        align-items: center;
    }

    .feedback__avatar-group {
        width: 100%;
    }

    .feedback__carousel {
        width: 80%;
    }

    .cta .container {
        flex-wrap: wrap;
        row-gap: 30px;
    }

    .footer {
        padding-top: 80px;
    }

    .footer__top {
        display: grid;
        grid-template-columns: repeat(3, auto);
        justify-content: space-around;
        row-gap: 50px;
    }

    .footer__column:nth-child(4) {
        grid-column: 2;
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
    .show-on-mobile {
        display: none;
    }
}

/* Mobile */
@media screen and (max-width: 767.98px) {
    .hide-on-mobile {
        display: none;
    }

    .menu-drawer {
        padding: 40px;
    }

    .heading {
        font-size: 3rem;
    }

    .hero__right {
        width: auto;
        left: 0;
    }

    .hero__image {
        width: auto;
        height: auto;
    }

    .hero__courses {
        top: -30px;
        left: -10px;
    }

    .schedules {
        bottom: 10px;
        left: -30px;
    }

    .active-students {
        right: -20px;
        bottom: -30px;
    }

    .hero__text {
        width: auto;
    }

    .hero__title {
        font-size: 4rem;
    }

    .hero__description {
        margin: 15px 0 0;
    }

    .features {
        padding: 0;
    }

    .features__title,
    .features__desc {
        width: 100%;
    }

    .feature-list {
        grid-template-columns: auto;
        margin-left: 30px;
    }

    .courses {
        margin-top: 50px;
    }

    .course-foot {
        margin-top: 170px;
        row-gap: 30px;
    }

    .feedback {
        margin-top: 50px;
    }

    .feedback__avatar-group {
        display: none;
    }

    .feedback-item__quote {
        font-size: 2rem;
    }

    .cta__title {
        font-size: 3rem;
    }

    .footer__top {
        grid-template-columns: auto;
        justify-content: flex-start;
        margin-left: 10%;
    }

    .footer__column:nth-child(4) {
        grid-column: 1;
    }
    .cta__desc,
    .copyright {
        font-size: 1.5rem;
    }
}
